#main
{
    position: absolute;
    margin: auto;
    width: 1064px;
    height: 560px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: repeating-linear-gradient( 0deg, red 0px, red 40px, white 40px, white 80px);
    z-index: 0;
}

#blue
{
    position: absolute;
    margin: auto;
    width: 425.6px;
    height: 280px;
    top: 0;
    bottom: 200px;
    left: 0;
    right: 639px;
    background-color: blue;
    /* background: repeating-linear-gradient( 90deg, white 0px, white 38.6px, blue 38.6px, blue 77.2px); */
    z-index: 1;
}
/* 38.6 x 31.1 */

#blue:before
{
    visibility: hidden;
    content: '';
    position: absolute;
    margin: auto;
    width: 425.6px;
    height: 280px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: repeating-linear-gradient( 0deg, transparent 0px, transparent 31.1px, blue 31.1px, blue 62.2px);
    z-index: 2;
}

.star {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
    margin: auto;
    top: 0;
    bottom: 680px;
    left: 425px;
    right: 0;
	margin-left: .9em;
	margin-right: .9em;
	margin-bottom: 1.2em;
	border-right: .3em solid transparent;
	border-bottom: .7em  solid white;
	border-left: .3em solid transparent;
  /* Controlls the size of the stars. */
	font-size: 18px;
    z-index: 3;
}

.star:before, .star:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: .55em;
	left: -1em;
	border-right: 1em solid transparent;
	border-bottom: .7em  solid white;
	border-left: 1em solid transparent;
	transform: rotate(-35deg);
    z-index: 3;
}

.star:after {
	transform: rotate(35deg);
    z-index: 3;
}